html
{
	scroll-behavior:smooth;
}

body
{
	background-color:#030E22;
	margin-top:0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
}

nav{
	top: 0;
	background-color:#030E22;
	padding:20px 0px;
	text-align: center;
	position:fixed;
	width: 100%;
}

nav a{
	text-decoration:none;
	padding: 20px 20px;
}
nav a:hover{
	background-color:#A5DCEE;
}

header
{
	background-image: url("World-Trigger.png");
	background-repeat:repeat-x;
	background-color: #3CE5ED;
	background-position: 0 -100px;
	height:auto;
}

span
{
	color: #442ABD;
}
.noO:hover{
	background-color:blue;
}
header h1
{
	color: white;

	font-weight: bold;
	font-size: 100px;
	text-decoration: underline;
	letter-spacing:2px;
	margin-bottom:0px;
}
.all{
	max-width: 1000px;
	margin:auto auto;
}
h1, h2
{
	font-family: 'Noto Sans JP', sans-serif;
}

header img
{
	width:300px;
	background-color: #34B3D2;	
	border-radius:200px;
	border: 20px solid #030E22;	
	margin-bottom:-100px;

}

.pfp{
	margin-top:450px;
	margin-left:-200px;
	display:inline-block;
	margin-bottom:-200px;
}

.headerWords{
	display: inline-block;
	vertical-align:top;
	margin-top: 500px;

}

.testSpace
{
	width:auto;
	background-color:white;
	padding-left:200px;
	margin-top:-100px;
	padding-top:60px;
}

.caption{
	color:grey;
	font-style: italic;
	font-size: 80%;
	margin-top: 0px;
}

main
{
	max-width:1000px;
	margin: 50px auto 50px;
}

.section{
	background-color:#A5DCEE;
	padding:10px 40px 20px 40px;
	margin:0 0 10px;
	border-radius: 30px;
}
.teams {
	background-image: url("Team.png");
	background-size: 100%;
	padding:0px;
}

.transBox{
	background: rgba(165,220,238,0.6);
	border-radius: 30px;
	padding:10px 40px 100px 40px;

}

main img{
	
	width:100%;
}

h2{
	font-size: 40px;
	color: #16788B;
	margin: 10px auto 0px auto;
}
p, ol, ul{
	margin-top:10px;
	line-height:35px;
	
}

a{
	color: #0080AA;
	font-weight: bold;
}

a:hover{
	color: #094574;
}

footer{
	background-image: url("World-Trigger.png");
	background-position: 0 -100px;
}

/* CSS COMMENT */

footer p{
	padding: 50px;
	margin: 0px;
	color: white;
}
